.popup__button_type_close {
  padding: 0;
  background: none;
  position: absolute;
  border: none;
  top: -36px;
  right: 0px;
  
}

@media screen and (min-width: 768px) {
  .popup__button_type_close {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}