.profile__name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 14px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  white-space: break-spaces;
}

@media screen and (min-width: 768px) {
  .profile__name-block {
    margin: 0 auto 16px 0;
  }
  
}